.nav_wrapper {
  display: flex;
  gap: 3rem;
  position: fixed;
  z-index: 10;
  padding: 2rem;
  align-items: center;

  .nav_logo {
    img {
      display: flex;
      justify-content: center;
      height: 1.5rem;
      width: auto;
    }
  }

  .nav_small {
    display: none;

    img {
      height: 1.5rem;
      width: auto;
    }
    // height: 1.5rem;
  }

  .nav_link_wrapper, .nav_toggle {
    color: white;
    font-family: 'League Spartan Medium';
    ul {
      display: flex;
      gap: 2.5rem;
      
      li {
        list-style: none;
        position: relative;
        cursor: pointer;

        &:hover::after {
          background-color: white;
        }
      }

      ::after {
        content: "";
        position: absolute;
        z-index: 100;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 2px;
        background-color: transparent;
        transition: width 0.3s ease;
      }
    }
  }

  .nav_link_color {
    color: black;
  }
  
  .nav_toggle {
    display: block;
    ul {
      li {
        color: black;
      }
    }
  }
}

.nav_wrapper_toggle {
  background: white;
}

@media screen and (max-width: 1000px) {
  .nav_wrapper {
    width: 100%;

    .nav_small {
      // position: relative;
      display: block;
      width: 30px;
      height: auto;
    }

    .nav_logo {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      // width: 50%;
      // align-items: center;
      // margin: auto;
    }
    .nav_link_wrapper {
      display: none;
    }
    // background-color: white;

    .nav_toggle {
      display: block;
      margin-left: 1rem;
      ul {
        li {
          color: black;

          &:hover::after {
            background-color: black;
          }
        }

        
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .nav_wrapper {
    .nav_toggle {
      ul {
        gap: 1rem;
        li {
          font-size: 0.9rem;
        }
      }
    }
  }
}